<div class="fixed-nav sticky-footer" id="page-top">
  {{>admin-nav}}
  <div class="content-wrapper" style="margin-top: 60px;">
    <div class="container-fluid">
      <div class="box_general padding_bottom">
        <div class="header_box version_2">
          {{>messages}}
          <h2></i>Create Course</h2>
        </div>
        <form action="/admin/courses" method="POST">
          {{>admin-course-form}}
        </form>
      </div>
    </div>
  </div>