<div class="fixed-nav sticky-footer" id="page-top">
  {{>admin-nav}}
  <div class="content-wrapper" style="margin-top: 60px;">
    <div class="container-fluid">
      {{>messages}}
      <div class="box_general padding_bottom">
        <div class="header_box version_2">
          <h2></i>Create Course</h2>
        </div>
        <div class="row">
          <div class="col-md add_top_30">
            <div class="row">
              <div class="fs-3 mb-3">Basic Infos</div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="form-group">
                    <label>Zh Title</label>
                    <input type="text" class="form-control" placeholder="Enter Zh Title" name="titleZhTW">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>En Title</label>
                    <input type="text" class="form-control" placeholder="Enter En Title" name="titleEn">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>Title Quote</label>
                    <textarea class="form-control" placeholder="Enter Title Quote" name="titleQuote"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="form-group">
                    <label>Qualification - Age</label>
                    <input type="number" class="form-control" placeholder="Enter Age" name="age">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>Qualification - Physical</label>
                    <input type="text" class="form-control" placeholder="Enter Physical" name="physical">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>Qualification - Others</label>
                    <textarea class="form-control" placeholder="Enter Others" name="others"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="form-group">
                    <label>Content</label>
                    <textarea class="form-control" placeholder="Enter Content" name="content"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>Content Time</label>
                    <textarea class="form-control" placeholder="Enter Content Time" name="contentTime"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>Photo Link</label>
                    <input type="text" class="form-control" placeholder="Enter image link">
                  </div>
                </div>
              </div>
            </div>
            <!-- /row-->
            <div class="row">
              <div class="fs-3 my-3">Examination</div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="form-group">
                    <label>STA</label>
                    <input type="text" class="form-control" placeholder="Enter Examination" name="STA">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>DYNB</label>
                    <input type="text" class="form-control" placeholder="Enter Examination" name="DYNB">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>DNF</label>
                    <input type="text" class="form-control" placeholder="Enter Examination" name="DNF">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="form-group">
                    <label>CWTB</label>
                    <input type="text" class="form-control" placeholder="Enter Examination" name="CWTB">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>CNF</label>
                    <input type="text" class="form-control" placeholder="Enter Examination" name="CNF">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>Theory</label>
                    <input type="text" class="form-control" placeholder="Enter Examination" name="theory">
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Other Exam</label>
                  <textarea class="form-control" placeholder="Enter Others Exam" name="othersExam"></textarea>
                </div>
              </div>
            </div>
            {{!-- <textarea style="height:100px;" class="form-control" placeholder="Personal info"></textarea> --}}
            <!-- /row-->
          </div>
        </div>
        <!-- /box_general-->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Price</label>
              <input type="number" class="form-control" placeholder="Enter Price" name="price">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Price Quote</label>
              <textarea class="form-control" placeholder="Enter Price Quote" name="priceQuote"></textarea>
            </div>
          </div>
        </div>
        <!-- /row-->
        <p><button type="submit" class="btn_1 medium">Create</button></p>
      </div>
    </div>
  </div>